*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #1E2D3B;
    /* height: 100vh; */
    font-family: 'Montserrat', sans-serif;
}
.container{
    height: 100%;
   margin:0 auto;
   
}
header{
    background-color: #2E3A46;
    width: 100%;
    height: 80px;
}
header img{
    height: 50px;
    margin: 15px;
    
}
.discs_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    padding: 50px 0;;
}
.discs_list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background: #2E3A46;
    padding: 15px;
    margin: 10px 20px;
    height: 280px;
    flex-basis: 177px;
    
    
    
}
.discs_list img{
    height: 100px;
}
h3{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    margin:15px 0;
}
.discs_list span.author, span.year{
    color:gray;
    font-size: 15px;
}
/* bonus_1 */

.select_genre{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
}
select{
    padding: 10px 20px;
    background-color: #2E3A46;
    color: white;
    border: none;
    cursor: pointer;
}